{% extends "layout.html" %}

{% block title %}
    Japan
{% endblock %}

{% block main %}

          <section class="features">
            <h1>Japan</h1>
            <div class="container">
                <div class="row">
                    <div class="col-mid-4">
                        <div class="feature-box">
                            <div class="feature-img">
                                <img src="https://rimage.gnst.jp/livejapan.com/public/article/detail/a/00/01/a0001976/img/basic/a0001976_main.jpg?20200827150216&q=80&rw=750&rh=536" style="width:500px;height:500px;">
                                <div class="price">
                                    <p>$200</p>
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                            </div>
                            <div class="feature-details">
                                <h4>Japan</h4>
                                <p>Japan Holiday Package</p>
                                <p>Discover the Autumn Landscapes of Japan’s Ancient Cities And Explore Japan's vast cultural, eating, drinking, and shopping scenes Through Us</p>
                            </div>
                            <div>
                                <span><i class="fa fa-map-marker"></i>Japan</span>
                                <span><i class="fa fa-sun-o"></i>3 Days</span>
                                <span><i class="fa fa-moon-o"></i>2 Nights</span>
                            </div>
                        </div>
                    </div>
{% endblock %}